name: Build Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Dockerfile'
      - 'index.html'
      - 'nginx.conf'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install YC CLI
        run: |
          curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
          echo "$HOME/yandex-cloud/bin" >> $GITHUB_PATH

      - name: Authenticate YC CLI
        run: |
          yc config set service-account-key '${{ secrets.YC_SA_KEY }}'

      - name: Configure Docker for YCR
        run: yc container registry configure-docker

      - name: Build and push
        run: |
          IMAGE=cr.yandex/${{ secrets.YC_REGISTRY_ID }}/test-app
          docker build -t $IMAGE:latest .
          docker push $IMAGE:latest
