name: Build Docker Image

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Dockerfile'
      - 'index.html'
      - 'nginx.conf'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install YC CLI
        run: |
          curl -sSL https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
          echo "$HOME/yandex-cloud/bin" >> $GITHUB_PATH

      - name: Login to Yandex Container Registry
        run: |
          echo '${{ secrets.YC_SA_KEY }}' > sa_key.json
          cat sa_key.json | docker login \
            --username json_key \
            --password-stdin \
            cr.yandex
          rm -f sa_key.json

      - name: Build and push latest
        run: |
          docker build --no-cache -t cr.yandex/${{ secrets.YC_REGISTRY_ID }}/test-app:latest .
          docker push cr.yandex/${{ secrets.YC_REGISTRY_ID }}/test-app:latest
